package templates

import "github.com/eddietindame/gorssagg/internal/templates/components"

templ Forgot(csrfToken string) {
	@components.SplashFormLayout(components.SplashFormLayoutProps{
		Heading: "Forgotten your password?",
	}) {
		@components.ForgotForm(components.ForgotFormProps{
			CsrfToken: csrfToken,
		})
	}
}
