package templates

import "github.com/eddietindame/gorssagg/internal/templates/components"

templ Register(csrfToken string) {
	@components.SplashFormLayout(components.SplashFormLayoutProps{
		Heading: "Register",
	}) {
		@components.RegisterForm(components.RegisterFormProps{
			CsrfToken: csrfToken,
		})
	}
}
